


.home{
    /* background-color: #f0f0f0; */
    padding: 40px;
    /* text-align: center; */
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.intro {
    padding: 20px;
    border-radius: 8px;
    align-items: start;
    flex: 1;
    width: 50%;
}

.image-section {
    padding: 20px;
    width: 30%;
    height: auto;
    border-radius: 0.5 em;
}

