header{
    margin-top: 5%;
    height: 15%;
    margin-left: 20%;
    display: flex;
    justify-content: end;
    margin-right: 2%;
    /* background-color: rgb(17 24 39); */
}

.custom-bg {
    background-color: rgb(17 24 39);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
}

.btn {
    margin-right: 10%;
}

.buttons .btn-primary {
    color: white;
    background-color: transparent;
}

.btn:focus {
    box-shadow: 0px 0px 6px white;
}

.row{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}


/* style about me */
#flip-boxa {
    background-color: transparent;
    width: 25%;
    height: 200px;
    perspective: 1000px;
}
#flip-boxa:hover,
#flip-boxa:active,
#flip-box:hover,
#flip-box:active,
#flip-boxe:hover,
#flip-boxe:active,
#flip-boxc:hover,
#flip-boxc:active{
    transform: scale(1.1);
    transition: 0.5s;
    border:1px solid aquamarine;
}
/* This container is needed to position the front and back side */
.flip-box-innera {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
#flip-boxa:hover .flip-box-innera {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-box-fronta,
.flip-box-backa {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */

/* Style the back side */
.flip-box-backa {
    background-color: rgb(17 24 39);
    /* background-color: black; */
    color: white;
    transform: rotateY(180deg);
}


/* style education */
#flip-boxe {
    background-color: transparent;
    width: 25%;
    height: 200px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-box-innere {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
#flip-boxe:hover .flip-box-innere {
    transform: rotateY(180deg);
    /* increase in size as well */
}
/* Position the front and back side */
.flip-box-fronte,
.flip-box-backe {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-box-fronte {
    /* background-color: #bbb; */
    color: black;
}
/* Style the back side */
.flip-box-backe {
    background-color: rgb(17 24 39);
    color: white;
    transform: rotateY(180deg);
}


/* style documents */
#flip-box {
    background-color: transparent;
    width: 25%;
    height: 200px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
#flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-box-front {
    /* background-color: #bbb; */
    color: black;
}
/* Style the back side */
.flip-box-back {
    font-style: italic;
    background-color: rgb(17 24 39);
    color: white;
    transform: rotateY(180deg);
}


/* style contacts */
#flip-boxc {
    background-color: transparent;
    width: 25%;
    height: 200px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-box-innerc {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
#flip-boxc:hover .flip-box-innerc {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-box-frontc,
.flip-box-backc {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-box-frontc {
    /* background-color: #bbb; */
    color: black;
}
/* Style the back side */
.flip-box-backc {
    background-color: rgb(17 24 39);
    /* background-color: black; */
    color: white;
    transform: rotateY(180deg);
}


 @keyframes whatsapp {
     0% {
         transform: rotate(0deg);
     }

     25% {
         transform: rotate(10deg);
     }

     50% {
         transform: rotate(0deg);
     }

     75% {
         transform: rotate(-10deg);
     }

     100% {
         transform: rotate(0deg);
     }
 }

 @keyframes insta {
     0% {
         transform: rotate(0deg);
     }

     25% {
         transform: rotate(10deg);
     }

     50% {
         transform: rotate(0deg);
     }

     75% {
         transform: rotate(-10deg);
     }

     100% {
         transform: rotate(0deg);
     }
 }

 @keyframes git {
     0% {
         transform: rotate(0deg);
     }

     25% {
         transform: rotate(10deg);
     }

     50% {
         transform: rotate(0deg);
     }

     75% {
         transform: rotate(-10deg);
     }

     100% {
         transform: rotate(0deg);
     }
 }

 @keyframes telegram {
     0% {
         transform: rotate(0deg);
     }

     25% {
         transform: rotate(10deg);
     }

     50% {
         transform: rotate(0deg);
     }

     75% {
         transform: rotate(-10deg);
     }

     100% {
         transform: rotate(0deg);
     }
 }
@keyframes email{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

 #whatsapp,
 #insta,
 #git,
 #telegram,
 #whatsapp {
     animation: whatsapp 1s infinite;
 }

 #whatsapp:hover {
     animation: whatsapp 1s infinite;
 }

 #insta:hover {
     animation: insta 1s infinite;
 }

 #git:hover {
     animation: git 1s infinite;
 }

 #telegram:hover {
     animation: telegram 1s infinite;
 }

#files{
    justify-content: center;
}

#reach{
    display: none;
}

#hobby{
    display: none;
}

#more{
    height: 50%;
    display: grid;
    justify-content: center;
;   align-items: center;
}

#hobby{
    display: none;
    /* align-items: center; */
}
#me{
    align-items: center;
    height: 30%;
    margin-left: 10%;
}

#karani{
    font-size: 1.1em;
    color: aqua;
    width: 60%;
}

#imgkarani img{
    width: 50%;
    height: auto;
}
#myproj{
    display: none;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5%);
}

.card-body {
    padding: 20px;
    background-color: rgb(17 24 39);
    border-radius: 0 0 10px 10px;
    color: white;
}

/* .row {
    margin-top: 5%;
    margin-bottom: 5%;
} */

.row-text{
    margin-left: 5%;
    color: white;
    font-size: 1.2em;
    margin-bottom: 5%;
}
h5.card-title {
    font-size: 1.2em;
    color: tomato;
}

.card-text {
    font-size: 0.9em;
    color: white;
}

.float-right i {
    margin-right: 10px;
}

.card-text{
    color: white;
    margin-top: 10%;
}

.text-float{
    color: white;
}

.button-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: 2px solid blue;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 2em;
}

.button-link:hover {
    background-color: blue;
    color: black;
    box-shadow: 0px 0px 5px white;
}